@use 'bootstrap/scss/bootstrap';

:root {
  --primary-color: #667eea;
  --secondary-color: #764ba2;
}

body {
  background-color: #f8f9fa;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

:host {
  display: block;
  min-height: 100vh;
}
